<section class="section-with-margin work">
    <h2 class="work__title">Портфолио</h2>

    <%# Data science %>
    <h3 class="work__subtitle">Анализ данных</h3>
    <ul class="work__list">
        <%- include('item', {
            title: false,
            description: `
                Инвестиционная компания.
                <br>
                Разрабатывал сервис, который предсказывает, какие рыночные стратегии заказчика будут прибыльными на следующий день.
                <br>
                Использовал рекурентные нейронные сети и выводил дополнительные эвристики для улучшения результата.
            `,
            labels: [
                {title: "kts", cssClass: 'first'},
                {title: "финтех", cssClass: 'second'},
                {title: "рекурентные нейросети", cssClass: 'third'},
                {title: "python", cssClass: 'python'},
                {title: "tensorflow", cssClass: 'python'},
            ],
            links: [
            ]
        }) %>
        <%- include('item', {
            title: false,
            description: `
                Инвестиционная компания.
                <br>
                Разрабатывал сервис, который предсказывает, какие рыночные стратегии заказчика будут прибыльными на следующий день.
                <br>
                Использовал рекурентные нейронные сети и выводил дополнительные эвристики для улучшения результата.
            `,
            labels: [
                {title: "kts", cssClass: 'first'},
                {title: "чатботы", cssClass: 'second'},
                {title: "обработка текста", cssClass: 'third'},
                {title: "python", cssClass: 'python'},
            ],
            links: [
            ]
        }) %>
        <%- include('item', {
            title: "kts_linguistics",
            description: `
                Библиотека для работы с лингвистикой.
                <br>
                Она включает в себя фонетизацию русского текста, исправление опечаток, репозитории с русскими текстами и словари синонимов.
            `,
            labels: [
                {title: "kts", cssClass: 'first'},
                {title: "open source", cssClass: 'first'},
                {title: "библиотека", cssClass: 'second'},
                {title: "обработка текста", cssClass: 'third'},
                {title: "python", cssClass: 'python'},
            ],
            links: [
                {title: "Гитхаб", url: 'https://github.com/ktsstudio/kts_linguistics', stars: 15},
            ]
        }) %>
        <%- include('item', {
            title: "Voice to vector",
            description: `
                Сравнивание голосов на одинаковость. Преобразование голоса в вектор.
                <br>
                Делали преобразование Фурье для получения спектрограмм. Использовали триплет из сверточных нейросетей для получения вектора.
            `,
            labels: [
                {title: "goto school", cssClass: 'first'},
                {title: "обработка голоса", cssClass: 'second'},
                {title: "python", cssClass: 'python'},
                {title: "theano", cssClass: 'python'},
                {title: "lasagne", cssClass: 'python'},
            ],
            links: [
                {title: "Презентация", url: '/presentations/voice2vec.pdf'},
                {title: "Гитхаб", url: 'https://github.com/voice2vec/SpeechLock', stars: 13},
            ]
        }) %>
        <%- include('item', {
            title: "GoToHack2 + MTS",
            description: `
                Кейс от МТС: предсказывание лайков, репостов и лайков от репостов в группе TalentEdme.
                <br>
                Сравнивали содержимое постов и интересов пользователя при помощи LDA.
            `,
            labels: [
                {title: "хакатон", cssClass: 'first'},
                {title: "обработка текста", cssClass: 'second'},
                {title: "python", cssClass: 'python'},
                {title: "vk api", cssClass: 'vk'},
            ],
            links: [
                {title: "Презентация", url: '/presentations/gotohack2.pdf'},
                {title: "Гитхаб", url: 'https://github.com/reo7sp/vk-text-likeness'},
                {title: "Сертификат&nbsp;победителя", url: '/certificates/gotohack2-win.jpg'},
            ]
        }) %>
    </ul>

    <%# Non data science %>
    <h3 class="work__subtitle">Не анализ данных</h3>
    <ul class="work__list">
        <%- include('item', {
            title: "tgbot-cpp",
            description: `
                C++ библиотека для Telegram bot API.
            `,
            labels: [
                {title: "библиотека", cssClass: 'second'},
                {title: "open source", cssClass: 'first'},
                {title: "c++", cssClass: 'cpp'},
                {title: "boost", cssClass: 'cpp'},
                {title: "boost asio", cssClass: 'cpp'},
                {title: "telegram api", cssClass: 'telegram'},
            ],
            links: [
                {title: "Гитхаб", url: 'https://github.com/reo7sp/tgbot-cpp', stars: 160, doubleStar: true},
                {title: "Документация", url: 'https://reo7sp.github.io/tgbot-cpp'},
            ]
        }) %>
        <%- include('item', {
            title: "VK Channelify",
            description: `
                Пересылает новости из группы ВК в Телеграмм канал.
            `,
            labels: [
                {title: "bot", cssClass: 'second'},
                {title: "open source", cssClass: 'first'},
                {title: "python", cssClass: 'cpp'},
                {title: "telegram api", cssClass: 'telegram'},
                {title: "vk api", cssClass: 'vk'},
            ],
            links: [
                {title: "Гитхаб", url: 'https://github.com/reo7sp/vk-channelify', stars: 13},
                {title: "Описание", url: 'https://reo7sp.github.io/vk-channelify'},
            ]
        }) %>
        <%- include('item', {
            title: "Raycord Legends",
            description: `
                MLP & Rayman Legends кроссовер.
            `,
            labels: [
                {title: "работа в команде", cssClass: 'first'},
                {title: "игровой проект", cssClass: 'second'},
                {title: "unity3d", cssClass: 'unity'},
                {title: "uframe", cssClass: 'unity'},
                {title: "spine", cssClass: 'unity'},
            ],
            links: [
                {title: "ВК", url: 'https://vk.com/discord_replies'},
                {title: "Ютюб", url: 'https://youtu.be/8B8y9jDU9Jw'},
            ]
        }) %>
        <%- include('item', {
            title: "MARS 2000",
            description: `
                Олдскульный top-down шутер.
            `,
            labels: [
                {title: "фриланс", cssClass: 'first'},
                {title: "игровой проект", cssClass: 'second'},
                {title: "unity3d", cssClass: 'unity'},
                {title: "steam greenlight", cssClass: 'steam'},
            ],
            links: [
                {title: "ВК", url: 'https://vk.com/mars_2k'},
                {title: "Стим", url: 'https://steamcommunity.com/sharedfiles/filedetails/?id=729817689'},
            ]
        }) %>
    </ul>
</section>

<div class="section-with-margin github-footer">
    <p class="github-footer__first">
        <img class="contacts-links__icon" src="images/icons/github.png" alt="GitHub">
        <a class="contacts-links__link" target="_blank" href="https://github.com/reo7sp">Посмотреть опенсорс на Гитхабе →</a>
    </p>
    <p class="github-footer__second">
        По языкам:
        <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=jupyter%20notebook">Jupyter&nbsp;Notebook</a><b>,</b>
        <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=scala">Scala</a><b>,</b>
        <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=c%2B%2B">C++</a><b>,</b>
        <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=go">Go</a><b>,</b>
        <a target="_blank" href="https://github.com/reo7sp?utf8=✓&tab=repositories&q=&language=java">Java</a>
    </p>
</div>

<div class="section-with-margin extra-footer">
    <img class="contacts-links__icon" src="images/icons/instagram.png" alt="Instagram">
    <a class="contacts-links__link" target="_blank" href="https://instagram.com/reo7sp">Ещё Инстаграм</a>
    <br>
    <img class="contacts-links__icon" src="images/icons/things.png" alt="Штуки">
    <a class="contacts-links__link" target="_blank" href="https://olezh.es">Штуки</a>
</div>