<li class="work__list-elem work-item">
    <% if (title === false) { %>
    <div class="work-item__title work-item__title--hidden">(скрыто)</div>
    <% } else { %>
    <div class="work-item__title"><%- title %></div>
    <% } %>

    <div class="work-item__info-labels">
        <% for (var i = 0; i < labels.length; i++) { %>
        <div class="work-item__info-label work-item__info-label--<%- labels[i].cssClass %>"><%- labels[i].title %></div>
        <% } %>
    </div>

    <div class="work-item__description"><%- description %></div>

    <div class="work-item__links">
        <% for (var i = 0; i < links.length; i++) { %>
        <div class="work-item__links-entry">
            <a class="work-item-link" target="_blank" href="<%- links[i].url %>"><%- links[i].title %></a>
            <% if (links[i].stars) { %>
            <span class="work-item-stat">
                <svg class="work-item-stat__star" aria-label="stars" height="18" role="img" version="1.1" viewBox="0 -4 14 18" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>
                <% if (links[i].doubleStar) { %>
                <svg class="work-item-stat__double-star" aria-label="stars" height="18" role="img" version="1.1" viewBox="0 -4 14 18" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>
                <% } %>
                <span class="work-item-stat__count"><%= links[i].stars %>+</span>
            </span>
            <% } %>
        </div>
        <% } %>
    </div>
</li>
