<!DOCTYPE html>
<html lang="<%- i18n.langCode %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%- i18n.pageDesc %>">
    <title><%- i18n.oleg %> <%- i18n.morozenkov %></title>
</head>
<body>

<div class="container">
    <%- include('blocks/header/index') %>
    <%- include('blocks/contacts/index') %>
    <%- include('blocks/employment/index') %>
    <%- include('blocks/education/index') %>
    <%- include('blocks/activity/index') %>
    <%- include('blocks/work/index') %>
    <%- include('blocks/giraffe-background-notice/index') %>
</div>

<div id="giraffe-hi-text" class="hidden"><%- i18n.giraffeHi %></div>

<%- include('blocks/yandex-metrica/index.ejs') %>

</body>
</html>
