<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Шарю в Анализе данных и Вебе">
    <title>Олег Морозенков</title>
</head>
<body>

<div class="container">
    <%- include('blocks/header/index') %>
    <%- include('blocks/contacts/index') %>
    <%- include('blocks/employment/index') %>
    <%- include('blocks/education/index') %>
    <%- include('blocks/activity/index') %>
    <%- include('blocks/work/index') %>
    <%- include('blocks/giraffe-background-notice/index') %>
</div>

<div id="giraffe-hi-text" class="hidden">Приветик</div>

<%- include('blocks/yandex-metrica/index.ejs') %>

</body>
</html>
